spring:
  application:
    name: gateway
  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

application:
  title: Gateway
  version: 1.0
  author: bgimenez

server:
  port: 8060
#  servlet:
#    context-path: /gateway

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8081/eureka/
  instance:
    preferIpAddress: true

management:
  tracing:
    sampling:
      probability: 1.0

